/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.mah-asides {
	border-radius: 8px;
}

.mah-asides__title {
	margin-block: 0;
	padding-inline: 1rem;
}
